<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/82bcca30fb.js" crossorigin="anonymous"></script>
        <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
        
        
      </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="login.html"><i class="fas fa-server"></i>Data Drawer</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 1200px;">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="login.html">Logout</a>
              </li>
            </ul>
        </div>
      </nav>
    <div class="container p-2">
        <div class="p-3 mb-3 bg-secondary text-white">
            <h1>Welcome NormalUser</h1>
            
        </div>
        <table class="table table-striped">
            <tr>
                <td>first file.xls<button type="submit" class="btn btn-danger" style="float: right; margin-left: 5px;">Delete</button> <button type="submit" class="btn btn-info" style="float: right;">Edit</button></div></td>
            </tr>
            <tr>
                <td>Second file.csv<button type="submit" class="btn btn-danger" style="float: right; margin-left: 5px;">Delete</button> <button type="submit" class="btn btn-info" style="float: right;">Edit</button></div></td>
            </tr>
          </table>
          <button type="submit" class="btn btn-primary" onclick="UploadButtonCLick()" >Upload a new file</button>
          <input type="file" id="NormalUserFileUpload" style="display:  none;" onchange="fileUploader(event)"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet , application/vnd.ms-excel, .csv"></input>
    </div>

        <script src="script/uploadFile.js"></script>

</body>